nav.navbar.navbar-light.bg-light
  a.navbar-brand(href='/')
    img.d-inline-block.align-top(src='img/favicon.svg' width="30" height="30" alt='Logo Pokemon Casino')
    |    Pokemon Casino
    form.form-inline.my-2.my-lg-0
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
