extends templates/template.pug

block header
      include sections/header.pug

block content
      .container.center-block
        h3 Error de inicio de Sesion
        p El usuario o clave son incorrectos
