extends templates/template.pug

block header
      include sections/header.pug

block content
      .container.center-block
        h3 Error de Comunicacion con Servidor
        p Esto puede ocurrir por un error en la url del servidor, el servidor no responda o este bloqueado
